      ul,
      li {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      hmtl,
      body {
        margin: 0;
        padding: 0;
        background-color: rgb(22 26 30);
      }

      .diamondCon {
        width: 192px;
        height: 192px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        margin: auto;
      }
      .diamond li {
        position: absolute;
        opacity: 0;
        transform:rotate(45deg);
      }


      .diamond li:nth-child(1) {
        height: 30px;
        width: 30px;
        background-color: #ebb42e;
        
        border-color: hsl(41deg 88% 61%);
        left: 0;
        right: 0;
        margin: auto;
        animation: traingle1 200ms 2.2s ease, opacity 2s 2.4s ease infinite;
        animation-fill-mode: forwards;
      }
      .diamond li:nth-child(2) {
        height: 30px;
        width: 30px;
        background-color: #ebb42e;
        
        animation: traingle4 200ms 1.6s ease, opacity 2s 2.6s ease infinite;
        animation-fill-mode: forwards;
      }
      .diamond li:nth-child(3) {
        height: 30px;
        width: 30px;
        background-color: #ebb42e;
        
        animation: traingle5 200ms 1.4s ease, opacity 2s 2.6s ease infinite;
        animation-fill-mode: forwards;
      }
      .diamond li:nth-child(4) {
        height: 30px;
        width: 30px;
        background-color: #ebb42e;
        
        border-color: hsl(41deg 88% 61%);
        left: 0;
        right: 0;
        margin: auto;
        animation: traingle7 200ms 1s ease, opacity 2s 2.8s ease infinite;
        animation-fill-mode: forwards;
      }
      .textCon {
        width: 200px;
        height: 50px;
        position: absolute;
        top: 0;
        text-align: center;
        line-height: 50px;
        font-size: 30px;
        font-family: Dancing Script;
        color: #fff;
        opacity: 0;
        animation: text 500ms 2.4s ease;
        animation-fill-mode: forwards;
      }

      @keyframes traingle1 {
        0% {
          top: -50px;
          opacity: 0;
        }
        100% {
          top: 0;
          opacity: 1;
        }
      }

      @keyframes traingle2 {
        0% {
          top: -50px;
          opacity: 0;
        }
        100% {
          top: 1px;
          opacity: 1;
        }
      }

      @keyframes traingle3 {
        0% {
          top: -50px;
          opacity: 0;
        }
        100% {
          top: 1px;
          opacity: 1;
        }
      }

      @keyframes traingle4 {
        0% {
          right: 59px;
          top: -33px;
          opacity: 0;
        }
        100% {
          right: 59px;
          top: 22px;
          opacity: 1;
        }
      }

      @keyframes traingle5 {
        0% {
          left: 59px;
          top: -33px;
          opacity: 0;
        }
        100% {
          left: 59px;
          top: 22px;
          opacity: 1;
        }
      }

      @keyframes traingle6 {
        0% {
          top: -33px;
          opacity: 0;
        }
        100% {
          top: 23px;
          opacity: 1;
        }
      }

      @keyframes traingle7 {
        0% {
          top: -10px;
          opacity: 0;
        }
        100% {
          top: 44px;
          opacity: 1;
        }
      }

      @keyframes opacity {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.3;
        }
        100% {
          opacity: 1;
        }
      }

      @keyframes text {
        0% {
          top: 0;
          opacity: 0;
        }
        100% {
          top: 70px;
          opacity: 1;
        }
      }
      .fixed-bottom{
        border-top: 1px solid rgb(37, 41, 48);
        background-color: rgb(30 32 38);
      }
      .diamondF{
        color: red;
      }
